body {
    background-image: linear-gradient(45deg, #cadbd2 0%, #585844 100%);
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}


#obj {
    background-color: rgb(159, 190, 119);
    
}

p {
    color: rgb(65, 70, 46);
    font-size: 15px;
}

.top {
    padding-top: 20px;
}

.skill {
    width: 1024px;
}

.form {
    margin-bottom: 30px;
}

#tbl {
    text-align: center;
}